@font-face{
    font-family: MarkOT-Medium;
    src: url(../css/fonts/MarkOT-Medium.ttf);
}
* {
    font-family: "MarkOT-Medium";
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
    width: 100%;
 height: 100%

}
body::-webkit-scrollbar {
    display: none;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
#page-container{
    position: relative;
    min-height: 100vh;
}
#content-wrap{
    padding-bottom: 515px;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 515px;
}
#app{
    width: 1280px;
    margin: auto;
    min-height: 320px;
}