* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 16px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 450px;
  /* Will always be footer height*/
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 450px;
  /* Will always be footer height */
  background-color: #f7f7f7;
}

.head {
  width: 100%;
}
.head__holder {
  width: 100%;
  min-height: 100px;
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__holder__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__holder__search input {
  padding: 15px;
  font-size: 15px;
  border: none;
  background-color: #f7f7f7;
}
.head__holder__search button {
  padding: 15px;
  font-size: 15px;
  background-color: #126bc5;
  color: white;
  border: none;
}
.head__holder__search button:hover {
  cursor: pointer;
}

.nav {
  width: 100%;
  background-color: #2b7bcb;
}
.nav__holder {
  width: 100%;
  max-width: 900PX;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}
.nav__holder a {
  color: white;
  text-decoration: none;
  padding-right: 40px;
  font-size: 20px;
}
.nav__holder a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.home {
  min-height: 500px;
  width: 100%;
  max-width: 900px;
  margin: 50px auto 20px auto;
}
.home .headHome {
  text-align: center;
  color: #444345;
}
.home .chooseRight {
  width: 100%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 30px;
}
.home .chooseRight .card {
  color: #126bc5;
  padding: 30px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.home .chooseRight .card h3 {
  padding-bottom: 0px;
}
.home .chooseRight .card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.home .offers {
  width: 100%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}
.home .offers__card {
  width: 275px;
  height: 235px;
  border: 1px solid #9c9c9c;
  position: relative;
}
.home .offers__card hr {
  width: 90%;
  margin: auto;
}
.home .offers__card .headLine {
  margin-top: 30px;
  text-align: center;
  color: #126bc5;
}
.home .offers__card .information {
  width: 87%;
  margin: auto;
}
.home .offers__card .information h3 {
  color: #444345;
  font-size: 16px;
  padding-bottom: 10px;
}
.home .offers__card .information p {
  font-size: 15px;
}
.home .offers__card .button {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
.home .offers__card .button button {
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #126bc5;
  border-radius: 5px;
  border: none;
  color: white;
}
.home .offers__card .button button:hover {
  cursor: pointer;
}
.home .offers__card:hover {
  cursor: pointer;
}
.home .homehr {
  color: #444345;
  background-color: #444345;
}
.home .promotionalCards {
  margin: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .promotionalCards .cards {
  padding: 30px;
}
.home .promotionalCards .referalPromotion {
  width: 70%;
  color: #444345;
}
.home .promotionalCards .referalPromotion h3 {
  margin-top: 30px;
  font-size: 35px;
  margin-bottom: 10px;
}
.home .promotionalCards .referalPromotion p {
  font-size: 17px;
  margin-bottom: 10px;
}
.home .promotionalCards .referalPromotion button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 40%;
  background-color: #398100;
  color: white;
}
.home .promotionalCards .referalPromotion button:hover {
  cursor: pointer;
}

.products {
  min-height: 500px;
  width: 100%;
  color: #444345;
  margin: 0px auto 0px auto;
}
.products .popularOfferings {
  background-color: #e6e6e6;
  width: 100%;
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 75px;
}
.products .popularOfferings h1 {
  width: 900px;
  margin: auto;
  padding-bottom: 30px;
}
.products .popularOfferings .offerHoldidng {
  width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.products .popularOfferings .offerHoldidng .card {
  width: 30%;
  min-height: 480px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.products .popularOfferings .offerHoldidng .card img {
  width: 95%;
  margin-bottom: 20px;
}
.products .popularOfferings .offerHoldidng .card .title {
  width: 95%;
  text-align: left;
}
.products .popularOfferings .offerHoldidng .card .title h4 {
  font-size: 14px;
  padding-bottom: 5px;
}
.products .popularOfferings .offerHoldidng .card .list {
  width: 100%;
  padding-left: 40px;
  margin: 0px auto 0px auto;
}
.products .popularOfferings .offerHoldidng .card .list ul li {
  margin-bottom: 10px;
}
.products .popularOfferings .offerHoldidng .card .acceptOffer {
  width: 100%;
  min-height: 90px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products .popularOfferings .offerHoldidng .card .acceptOffer .accept {
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  width: 75%;
  background-color: #398100;
  color: white;
  margin-bottom: 15px;
}
.products .popularOfferings .offerHoldidng .card .acceptOffer .learn {
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  width: 75%;
  background-color: #0b6efd;
  color: white;
}
.products .Travel {
  background-color: #fff;
}

.account {
  min-height: 425px;
  width: 100%;
  color: #fff;
  margin: 0px auto 0px auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../img/SlateHero.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../img/SlateHero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.account__holder {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.account__holder .present {
  width: 60%;
  font-size: 20px;
}
.account__holder .present h1 {
  font-size: 50px;
  text-shadow: 0px 4px 3px rgba(100, 100, 111, 0.2);
}
.account__holder .login {
  width: 300px;
  height: 275px;
  color: #444345;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.account__holder .login h1 {
  font-size: 20px;
}

.footerHead {
  margin-top: 30px;
  text-align: center;
  color: #414045;
}

.footerHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 900px;
  padding-top: 20px;
  margin: auto;
}
.footerHolder__columns h5 {
  text-decoration: underline;
  font-size: 15px;
  color: #414045;
}
.footerHolder__columns ul li {
  list-style: none;
  line-height: 25px;
  font-size: 15px;
}
.footerHolder__columns ul li:hover {
  cursor: pointer;
}

.fakeAdvertisment {
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.fakeAdvertisment p {
  font-size: 15px;
}
.fakeAdvertisment p:nth-child(2) {
  font-size: 13px;
}