.account{
    min-height: 425px;
    width: 100%; 
    color: #fff;
    margin: 0px auto 0px auto;
    background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.3)), url('img/SlateHero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__holder{
        width: 100%;
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        .present{
            width: 60%;
            h1{
                font-size: 50px;
                text-shadow:0px 4px 3px  rgba(100, 100, 111, 0.2);
            }
            font-size: 20px;
        }
        .login{
            width: 300px;
            height: 310px;
            color: #444345;
            background-color: #fff;
            border-radius: 5px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 20px;
            }
            .label{
                margin-bottom: 5px;
            }
            .cred{
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px #444345 solid;
                padding: 10px;
                margin-bottom: 10px;
            }
            .rememberMe{
                padding-bottom: 5px;
            }
            .signIn{
                padding: 10px;
                color: white;
                border: none;
                border-radius: 5px;
                background-color: #0b6efd;
                margin-bottom: 5px;
            }
            a{
                text-decoration: none;
                margin-bottom: 5px;
            }
            
        }
    }
}