.content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    &__purchase{
        &__title{
            font-size: 40px;
            margin-top: 30px;
        }
        &__choices{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .box{
                width: 100%;
                max-width: 250px;
                background-color: red;
                display: block;    
                img{
                    width: 175px;
                    display: block;
                    margin: auto;
                }            
            }
        }

    }
    &__subscriptions{
        &__title{
            font-size: 40px;
            margin-top: 40px;
        }
    }
}