/* css that sets my footer giving it a height and colors and what not*/
.footer {
  position: absolute;
    bottom: 0;
    margin: 0 auto;
    min-height: 395px;
    width: 100%;
    background-color:#EEE;
    border-top: 2px solid #8c8c8c; 

    &__holder{
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 2%;
      display: flex;
      justify-content: space-between;

      &__icon{
        margin-top: 15px;
        width: 25%;
        text-align: center;
        img{
          max-width: 100px;
          margin: 0 auto 10px auto;
        }
        p{
          text-align: center;
          font-size: 13px;
          margin-bottom: 10px;
          line-height: 19px;
        }
      }
      &__menus{
        width: 70%;
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        .cont{
          h5{
            font-size: 15px;
            font-style: bold;
            margin-bottom: 20px;
            // color: white;
            line-height: 35px;
            text-decoration: underline;
          }
          ul{
            li{
              list-style: none;
              // color: white;
              line-height: 30px;
              font-size: 15px;
            }
            li:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
    &__under{
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 2%;
      display: flex;
      justify-content: space-between;
      &__tos{
        width: 26%;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        line-height: 30px;
      }
      &__copyright{
          width: 70%;
          text-align: right;
          font-size: 15px;
          line-height: 30px;
      }
    }

  }