@font-face {
  font-family: Caveat-Bold;
  src: url(../css/fonts/Caveat-Bold.ttf); }

@font-face {
  font-family: Caveat-Regular;
  src: url(../css/fonts/Caveat-Regular.ttf); }

@font-face {
  font-family: Gillsan-Light;
  src: url(../css/fonts/GillSans-Light.ttf); }

@font-face {
  font-family: Gillsan;
  src: url(../css/fonts/GillSans.ttf); }

@font-face {
  font-family: Gillsan-Italic;
  src: url(../css/fonts/GillSans-Italic.ttf); }

@font-face {
  font-family: Lato-Italic;
  src: url(../css/fonts/Lato-Italic.ttf); }

@font-face {
  font-family: Lato-Black;
  src: url(../css/fonts/Lato-Black.ttf); }

@font-face {
  font-family: Lato-Regular;
  src: url(../css/fonts/Lato-Regular.ttf); }

@font-face {
  font-family: Lato-Light;
  src: url(../css/fonts/Lato-Regular.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none; }

body::-webkit-scrollbar {
  display: none; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

#page-container {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url("images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }

#content-wrap {
  padding-bottom: 75px;
  width: 100%; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px; }

#mobileFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px; }

#app {
  width: 100%;
  min-height: 100%; }

@media screen and (max-width: 760px) {
  #content-wrap {
    padding-bottom: 130px; } }

nav {
  font-family: "Caveat-Regular";
  height: 130px;
  padding: 38px 50px 38px 50px;
  display: flex;
  justify-content: space-between; }
  nav .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    nav .menu a {
      margin-left: 40px;
      font-size: 25px;
      color: #000000;
      text-decoration: none;
      height: 37px; }
    nav .menu .selected {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 3px solid; }
    nav .menu .login {
      width: 158px;
      background-color: #FFD972;
      text-align: center;
      height: 52px;
      line-height: 52px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 26px; }
    nav .menu .loginBtn {
      display: block; }
    nav .menu .logoutBtn {
      display: none; }
  nav .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none; }
  nav .mobile-menu:hover {
    cursor: pointer; }

.hiddenNav {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: -100%;
  transition: all .8s;
  z-index: 5; }
  .hiddenNav nav {
    font-family: "Caveat-Regular";
    display: flex;
    flex-direction: column; }
    .hiddenNav nav .cancel {
      width: 100%;
      display: flex;
      justify-content: end; }
    .hiddenNav nav .menu {
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: center; }
      .hiddenNav nav .menu a {
        margin: 40px auto 0px auto;
        font-size: 30px;
        text-align: center;
        color: white;
        justify-content: center; }
      .hiddenNav nav .menu .aSelected {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid white; }
      .hiddenNav nav .menu .yourMobile {
        display: none; }
      .hiddenNav nav .menu .logoutMobile {
        display: none; }
      .hiddenNav nav .menu .loginMobile {
        display: block; }

@media screen and (min-width: 1026px) {
  nav .mobile-menu {
    display: none !important; } }

@media screen and (max-width: 1025px) {
  nav .menu {
    display: none; }
  nav .mobile-menu {
    display: block; } }

.home {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home .circle-holder {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin-top: 125px;
    margin-bottom: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .home .circle-holder .little-circle {
      width: 167px;
      height: 167px;
      border-radius: 167px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: #FCBCB8;
      z-index: 1;
      position: absolute;
      margin-right: -90%;
      margin-top: -75%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
      .home .circle-holder .little-circle p {
        width: 105px;
        font-size: 12px;
        margin-bottom: 0px;
        font-family: "Lato-Italic"; }
    .home .circle-holder .big-circle {
      width: 357px;
      height: 357px;
      z-index: 2;
      background-color: #FFD972;
      border-radius: 357px;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
      .home .circle-holder .big-circle h1 {
        font-size: 24px;
        margin-bottom: 30px;
        font-family: "Caveat-Bold"; }
      .home .circle-holder .big-circle p {
        width: 160px;
        height: 80px;
        font-size: 16px;
        font-family: "Lato-Italic"; }

@media screen and (max-width: 700px) {
  .home .circle-holder {
    max-width: 300px;
    height: 300px; }
    .home .circle-holder .little-circle {
      width: 121px;
      height: 121px;
      margin-right: -60%;
      margin-top: -95%; }
      .home .circle-holder .little-circle p {
        font-size: 10px; }
    .home .circle-holder .big-circle {
      width: 257px;
      height: 257px; }
      .home .circle-holder .big-circle h1 {
        margin-top: 30px;
        font-size: 20px; }
      .home .circle-holder .big-circle p {
        font-size: 12px; } }

@media screen and (max-width: 400px) {
  .home .circle-holder {
    max-width: 250px;
    height: 250px; }
    .home .circle-holder .little-circle {
      width: 71px;
      height: 71px;
      margin-right: -60%;
      margin-top: -85%; }
      .home .circle-holder .little-circle p {
        font-size: 7px; }
    .home .circle-holder .big-circle {
      width: 207px;
      height: 207px; }
      .home .circle-holder .big-circle h1 {
        margin-top: 30px;
        font-size: 20px; }
      .home .circle-holder .big-circle p {
        font-size: 12px; } }

.browseSection {
  width: 100%;
  max-width: 1500px;
  margin: 50px auto 0px auto;
  padding: 0px 50px 0px 50px;
  font-family: "Caveat-Bold"; }
  .browseSection__display {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-between; }
    .browseSection__display .recipe {
      margin-top: 50px;
      display: flex; }
      .browseSection__display .recipe__image {
        border-radius: 24px;
        width: 320px;
        height: 283px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: red; }
      .browseSection__display .recipe--pizza {
        background-image: url("../images/recipe-pizza.jpg"); }
      .browseSection__display .recipe--burger {
        background-image: url("../images/recipe-burger.jpg"); }
      .browseSection__display .recipe--chow {
        background-image: url("../images/recipe-chowmein.jpg"); }
      .browseSection__display .recipe--chicken {
        background-image: url("../images/recipe-pilaf.jpg"); }
      .browseSection__display .recipe__description {
        width: 244px;
        height: 283px;
        border-radius: 24px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center; }
        .browseSection__display .recipe__description .hold {
          width: 150px; }
          .browseSection__display .recipe__description .hold h1 {
            font-size: 15px;
            font-family: "Lato-Black";
            font-weight: normal;
            margin-bottom: 0px; }
          .browseSection__display .recipe__description .hold hr {
            height: 4px;
            background-color: black;
            border: none; }
          .browseSection__display .recipe__description .hold p {
            margin-top: 20px;
            font-size: 10px;
            font-family: "Lato-Regular"; }
          .browseSection__display .recipe__description .hold .time {
            justify-content: center;
            display: flex;
            font-family: "Lato-Regular"; }
            .browseSection__display .recipe__description .hold .time .showingTime {
              line-height: 30px;
              margin-left: 20px; }
            .browseSection__display .recipe__description .hold .time img {
              width: 30px;
              height: 30px; }
          .browseSection__display .recipe__description .hold .servings {
            margin-top: 15px;
            justify-content: center;
            display: flex;
            font-family: "Lato-Regular"; }
            .browseSection__display .recipe__description .hold .servings .showingServing {
              line-height: 30px;
              margin-left: 20px; }
            .browseSection__display .recipe__description .hold .servings img {
              width: 30px;
              height: 30px; }

@media screen and (max-width: 1250px) {
  .browseSection h1 {
    width: 564px;
    margin: auto; }
  .browseSection__display {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 680px) {
  .browseSection {
    padding: 0px 0px 0px 0px; }
    .browseSection h1 {
      width: 300px;
      margin: auto; }
    .browseSection__display {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .browseSection__display .recipe {
        flex-direction: column; }
        .browseSection__display .recipe__image {
          width: 300px;
          height: 150px; }
        .browseSection__display .recipe__description {
          width: 300px;
          height: 225px; }
          .browseSection__display .recipe__description .hold {
            width: 250px; }
            .browseSection__display .recipe__description .hold h1 {
              text-align: center;
              font-size: 10px;
              width: 80px;
              margin: auto; }
            .browseSection__display .recipe__description .hold hr {
              width: 80px;
              text-align: center;
              margin: auto; }
            .browseSection__display .recipe__description .hold p {
              padding-top: 10px;
              width: 200px;
              margin: auto; }
            .browseSection__display .recipe__description .hold .time {
              margin-top: 10px; }
              .browseSection__display .recipe__description .hold .time .showingTime {
                font-size: 10px; }
              .browseSection__display .recipe__description .hold .time img {
                width: 25px;
                height: 25px; }
            .browseSection__display .recipe__description .hold .servings {
              margin-top: 10px; }
              .browseSection__display .recipe__description .hold .servings .showingServing {
                font-size: 10px; }
              .browseSection__display .recipe__description .hold .servings img {
                width: 25px;
                height: 25px; } }

.createSection {
  width: 100%;
  max-width: 1500px;
  margin: 50px auto 50px auto;
  padding: 0px 50px 0px 50px; }
  .createSection h1 {
    font-family: "Caveat-Bold";
    font-size: 30px; }
  .createSection .form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .createSection .form .recipeImage {
      border: none;
      border-bottom: 3px solid black; }
    .createSection .form input {
      margin-top: 50px;
      height: 30px;
      border: none;
      border-bottom: 3px solid black; }
      .createSection .form input ::placeholder {
        font-family: "Lato-Black";
        font-size: 30px;
        font-weight: lighter; }
  .createSection .ingredients {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .createSection .ingredients h4 {
      font-family: "Lato-Black";
      font-size: 20px; }
    .createSection .ingredients input {
      margin-top: 50px;
      height: 30px;
      border: none;
      border-bottom: 3px solid black; }
      .createSection .ingredients input ::placeholder {
        font-family: "Lato-Black";
        font-size: 30px;
        font-weight: lighter;
        height: 30px; }
    .createSection .ingredients .ingredientsButton {
      width: 35px;
      height: 35px;
      background-color: #EFA7A7;
      border: none;
      border-radius: 25px;
      position: absolute;
      bottom: 10px;
      right: 0;
      background-image: url("../images/plus-solid.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center; }
    .createSection .ingredients .ingredientsButton:hover {
      cursor: pointer; }
  .createSection .instructions {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .createSection .instructions h4 {
      font-family: "Lato-Black";
      font-size: 20px; }
    .createSection .instructions input {
      margin-top: 50px;
      height: 30px;
      border: none;
      border-bottom: 3px solid black; }
      .createSection .instructions input ::placeholder {
        font-family: "Lato-Black";
        font-size: 30px;
        font-weight: lighter;
        height: 30px; }
    .createSection .instructions .instructionsButton {
      width: 35px;
      height: 35px;
      background-color: #EFA7A7;
      border: none;
      border-radius: 25px;
      position: absolute;
      bottom: 10px;
      right: 0;
      background-image: url("../images/plus-solid.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center; }
    .createSection .instructions .instructionsButton:hover {
      cursor: pointer; }
  .createSection .createRecipeButton {
    display: block;
    margin: 80px auto 80px auto;
    width: 80%;
    max-width: 400px;
    background-color: #EFA7A7;
    border: none;
    text-align: center;
    font-size: 25px;
    height: 52px;
    line-height: 52px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 26px;
    font-family: "Caveat-Regular"; }
  .createSection .createRecipeButton:hover {
    cursor: pointer; }

@media screen and (max-width: 1026px) {
  .createSection h1 {
    width: 100%;
    text-align: center;
    font-size: 25px; } }

@media screen and (max-width: 500px) {
  .createSection h1 {
    width: 100%;
    text-align: center;
    font-size: 20px; }
  .createSection .form .uploadFile {
    width: 75px;
    height: 25px; } }

.recipeSection {
  width: 100%;
  max-width: 1500px;
  margin: 50px auto 0px auto;
  padding: 0px 50px 0px 50px;
  font-family: "Caveat-Bold"; }
  .recipeSection__display {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-between; }
    .recipeSection__display .recipe_hold {
      display: flex;
      flex-direction: column; }
      .recipeSection__display .recipe_hold .recipe {
        margin-top: 50px;
        display: flex; }
        .recipeSection__display .recipe_hold .recipe__image {
          border-radius: 24px;
          width: 320px;
          height: 283px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-color: red;
          display: flex;
          justify-content: center;
          align-items: center; }
          .recipeSection__display .recipe_hold .recipe__image .viewIngredient {
            width: 130px;
            background-color: #FFD972;
            text-align: center;
            height: 52px;
            font-size: 23px;
            font-family: "Caveat-Regular";
            line-height: 52px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            border-radius: 26px;
            border: none; }
          .recipeSection__display .recipe_hold .recipe__image .viewIngredient:hover {
            cursor: pointer; }
        .recipeSection__display .recipe_hold .recipe--pizza {
          background-image: url("../images/recipe-pizza.jpg"); }
        .recipeSection__display .recipe_hold .recipe--burger {
          background-image: url("../images/recipe-burger.jpg"); }
        .recipeSection__display .recipe_hold .recipe--chow {
          background-image: url("../images/recipe-chowmein.jpg"); }
        .recipeSection__display .recipe_hold .recipe--chicken {
          background-image: url("../images/recipe-pilaf.jpg"); }
        .recipeSection__display .recipe_hold .recipe__description {
          width: 244px;
          height: 283px;
          border-radius: 24px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center; }
          .recipeSection__display .recipe_hold .recipe__description .hold {
            width: 150px; }
            .recipeSection__display .recipe_hold .recipe__description .hold h1 {
              font-size: 15px;
              font-family: "Lato-Black";
              margin-bottom: 0px; }
            .recipeSection__display .recipe_hold .recipe__description .hold hr {
              height: 4px;
              background-color: black;
              border: none; }
            .recipeSection__display .recipe_hold .recipe__description .hold p {
              margin-top: 20px;
              font-size: 10px;
              font-family: "Lato-Regular"; }
            .recipeSection__display .recipe_hold .recipe__description .hold .time {
              justify-content: center;
              display: flex;
              font-family: "Lato-Regular"; }
              .recipeSection__display .recipe_hold .recipe__description .hold .time .showingTime {
                line-height: 30px;
                margin-left: 20px; }
              .recipeSection__display .recipe_hold .recipe__description .hold .time img {
                width: 30px;
                height: 30px; }
            .recipeSection__display .recipe_hold .recipe__description .hold .servings {
              margin-top: 15px;
              justify-content: center;
              display: flex;
              font-family: "Lato-Regular"; }
              .recipeSection__display .recipe_hold .recipe__description .hold .servings .showingServing {
                line-height: 30px;
                margin-left: 20px; }
              .recipeSection__display .recipe_hold .recipe__description .hold .servings img {
                width: 30px;
                height: 30px; }
      .recipeSection__display .recipe_hold .buttonFunction {
        width: 320px;
        display: flex;
        justify-content: space-between;
        padding: 15px; }
        .recipeSection__display .recipe_hold .buttonFunction .editRecipe {
          width: 130px;
          background-color: #FFD972;
          text-align: center;
          height: 52px;
          font-size: 23px;
          font-family: "Caveat-Regular";
          line-height: 52px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          border-radius: 26px;
          border: none; }
        .recipeSection__display .recipe_hold .buttonFunction .editRecipe:hover {
          cursor: pointer; }
        .recipeSection__display .recipe_hold .buttonFunction .deleteRecipe {
          width: 130px;
          background-color: #FFD972;
          text-align: center;
          height: 52px;
          font-size: 23px;
          font-family: "Caveat-Regular";
          line-height: 52px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          border-radius: 26px;
          border: none; }
        .recipeSection__display .recipe_hold .buttonFunction .deleteRecipe:hover {
          cursor: pointer; }

@media screen and (max-width: 1250px) {
  .recipeSection h1 {
    width: 564px;
    margin: auto; }
  .recipeSection__display {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 680px) {
  .recipeSection {
    padding: 0px 0px 0px 0px; }
    .recipeSection h1 {
      width: 300px;
      margin: auto;
      font-size: 25px; }
    .recipeSection__display {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .recipeSection__display .recipe_hold .recipe {
        flex-direction: column; }
        .recipeSection__display .recipe_hold .recipe__image {
          width: 300px;
          height: 150px; }
        .recipeSection__display .recipe_hold .recipe__description {
          width: 300px;
          height: 225px; }
          .recipeSection__display .recipe_hold .recipe__description .hold {
            width: 250px; }
            .recipeSection__display .recipe_hold .recipe__description .hold h1 {
              text-align: center;
              font-size: 10px;
              width: 80px;
              margin: auto; }
            .recipeSection__display .recipe_hold .recipe__description .hold hr {
              width: 80px;
              text-align: center;
              margin: auto; }
            .recipeSection__display .recipe_hold .recipe__description .hold p {
              padding-top: 10px;
              width: 200px;
              margin: auto; }
            .recipeSection__display .recipe_hold .recipe__description .hold .time {
              margin-top: 10px; }
              .recipeSection__display .recipe_hold .recipe__description .hold .time .showingTime {
                font-size: 10px; }
              .recipeSection__display .recipe_hold .recipe__description .hold .time img {
                width: 25px;
                height: 25px; }
            .recipeSection__display .recipe_hold .recipe__description .hold .servings {
              margin-top: 10px; }
              .recipeSection__display .recipe_hold .recipe__description .hold .servings .showingServing {
                font-size: 10px; }
              .recipeSection__display .recipe_hold .recipe__description .hold .servings img {
                width: 25px;
                height: 25px; }
      .recipeSection__display .recipe_hold .buttonFunction {
        width: 300px; }
        .recipeSection__display .recipe_hold .buttonFunction .editRecipe {
          width: 115px;
          height: 45px; }
        .recipeSection__display .recipe_hold .buttonFunction .deleteRecipe {
          width: 115px;
          height: 45px; } }

.editpage {
  width: 100%;
  max-width: 1500px;
  margin: 50px auto 50px auto;
  padding: 0px 50px 0px 50px; }
  .editpage h1 {
    font-family: "Caveat-Bold";
    font-size: 30px; }
  .editpage .editform {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .editpage .editform .recipeImage {
      border: none;
      border-bottom: 3px solid black; }
    .editpage .editform input {
      margin-top: 50px;
      height: 30px;
      border: none;
      border-bottom: 3px solid black; }
      .editpage .editform input ::placeholder {
        font-family: "Lato-Black";
        font-size: 30px;
        font-weight: lighter; }
  .editpage .ingredients {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .editpage .ingredients h4 {
      font-family: "Lato-Black";
      font-size: 20px; }
    .editpage .ingredients input {
      margin-top: 50px;
      height: 30px;
      border: none;
      border-bottom: 3px solid black; }
      .editpage .ingredients input ::placeholder {
        font-family: "Lato-Black";
        font-size: 30px;
        font-weight: lighter;
        height: 30px; }
    .editpage .ingredients .ingredientsButton {
      width: 35px;
      height: 35px;
      background-color: #EFA7A7;
      border: none;
      border-radius: 25px;
      position: absolute;
      bottom: 10px;
      right: 0;
      background-image: url("../images/plus-solid.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center; }
    .editpage .ingredients .ingredientsButton:hover {
      cursor: pointer; }
  .editpage .instructions {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .editpage .instructions h4 {
      font-family: "Lato-Black";
      font-size: 20px; }
    .editpage .instructions input {
      margin-top: 50px;
      height: 30px;
      border: none;
      border-bottom: 3px solid black; }
      .editpage .instructions input ::placeholder {
        font-family: "Lato-Black";
        font-size: 30px;
        font-weight: lighter;
        height: 30px; }
    .editpage .instructions .instructionsButton {
      width: 35px;
      height: 35px;
      background-color: #EFA7A7;
      border: none;
      border-radius: 25px;
      position: absolute;
      bottom: 10px;
      right: 0;
      background-image: url("../images/plus-solid.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center; }
    .editpage .instructions .instructionsButton:hover {
      cursor: pointer; }
  .editpage .submitRecipeButton {
    display: block;
    margin: 80px auto 80px auto;
    width: 80%;
    max-width: 400px;
    background-color: #EFA7A7;
    border: none;
    text-align: center;
    font-size: 25px;
    height: 52px;
    line-height: 52px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 26px;
    font-family: "Caveat-Regular"; }
  .editpage .submitRecipeButton:hover {
    cursor: pointer; }

@media screen and (max-width: 1026px) {
  .editpage h1 {
    width: 100%;
    text-align: center;
    font-size: 25px; } }

@media screen and (max-width: 500px) {
  .editpage h1 {
    width: 100%;
    text-align: center;
    font-size: 20px; }
  .editpage .form .uploadFile {
    width: 75px;
    height: 25px; } }

.viewpage {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 50px auto;
  padding: 0px 50px 0px 50px; }
  .viewpage .main {
    display: flex;
    justify-content: start; }
    .viewpage .main .pizzaImage {
      display: flex; }
      .viewpage .main .pizzaImage .pizzaImg {
        width: 470px;
        height: 430px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: blue;
        position: relative;
        background-image: url("../images/recipe-pizza.jpg"); }
      .viewpage .main .pizzaImage .burgerImg {
        width: 470px;
        height: 430px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: blue;
        position: relative;
        background-image: url("../images/recipe-burger.jpg"); }
      .viewpage .main .pizzaImage .chickenImg {
        width: 470px;
        height: 430px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: blue;
        position: relative;
        background-image: url("../images/recipe-pilaf.jpg"); }
      .viewpage .main .pizzaImage .chowImg {
        width: 470px;
        height: 430px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: blue;
        position: relative;
        background-image: url("../images/recipe-chowmein.jpg"); }
      .viewpage .main .pizzaImage p {
        top: 140px;
        left: -130px;
        margin-bottom: 0px;
        position: absolute;
        width: 220px;
        height: 30px;
        font-family: "Lato-Black";
        font-size: 25px;
        transform: rotate(-90deg); }
    .viewpage .main .information {
      padding-left: 45px;
      font-size: 25px; }
      .viewpage .main .information h3 {
        font-family: "Lato-Black";
        margin-bottom: 35px; }
      .viewpage .main .information .pad {
        margin-bottom: 38px; }
      .viewpage .main .information p {
        font-family: "Caveat-Regular"; }
      .viewpage .main .information .description {
        font-size: 25px;
        font-family: "Lato-Black"; }
  .viewpage .ingredientsLists {
    margin-top: 60px; }
    .viewpage .ingredientsLists h3 {
      font-size: 25px;
      font-family: "Lato-Black";
      margin-bottom: 35px; }
    .viewpage .ingredientsLists p {
      font-family: "Caveat-Regular";
      font-size: 20px; }
  .viewpage .instructionLists {
    margin-top: 60px; }
    .viewpage .instructionLists h3 {
      font-size: 25px;
      font-family: "Lato-Black";
      margin-bottom: 35px; }
    .viewpage .instructionLists p {
      font-family: "Caveat-Regular";
      font-size: 20px; }
  .viewpage .editButtonView {
    font-family: "Caveat-Regular";
    font-size: 20px;
    width: 158px;
    background-color: #FFD972;
    text-align: center;
    height: 52px;
    border: none;
    margin-top: 50px;
    line-height: 52px;
    border-radius: 26px; }
  .viewpage .editButtonView:hover {
    cursor: pointer; }

@media screen and (max-width: 1000px) {
  .viewpage .main {
    flex-direction: column; }
    .viewpage .main .pizzaImage .pizzaImg {
      margin-left: 30px;
      width: 300px;
      height: 275px; }
    .viewpage .main .pizzaImage p {
      top: 150px;
      left: -130px; }
    .viewpage .main .information {
      margin-top: 60px;
      padding-left: 0px; } }

.loginPage {
  display: flex;
  justify-content: space-around;
  margin: 100px auto 100px auto;
  width: 100%;
  max-width: 1000px; }
  .loginPage .loginField {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 225px; }
    .loginPage .loginField h1 {
      margin-top: 50px;
      text-align: left;
      margin-bottom: 0px;
      height: 50px;
      font-family: "Lato-Black"; }
    .loginPage .loginField input {
      width: 225px;
      font-size: 15px;
      height: 50px;
      border-right: none;
      border-top: none;
      border-left: none;
      border-bottom: black solid 3px;
      background-color: #FFD972;
      margin-top: 50px;
      color: black; }
    .loginPage .loginField input::placeholder {
      color: black;
      font-family: "Lato-Regular"; }
    .loginPage .loginField .loginOne {
      margin: 50px auto 0 auto;
      font-family: "Caveat-Regular";
      width: 170px;
      font-size: 25px;
      background-color: #FFD972;
      text-align: center;
      height: 52px;
      line-height: 52px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 26px;
      border: none; }
    .loginPage .loginField .loginOne:hover {
      cursor: pointer; }
  .loginPage .signUpField {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 225px; }
    .loginPage .signUpField h3 {
      font-family: "Lato-Italic";
      font-size: 15px; }
    .loginPage .signUpField h1 {
      text-align: left;
      font-family: "Lato-Black"; }
    .loginPage .signUpField input {
      width: 225px;
      font-size: 15px;
      border-right: none;
      border-top: none;
      border-left: none;
      border-bottom: black solid 3px;
      background-color: #FFD972;
      margin-top: 50px;
      color: black;
      height: 50px; }
    .loginPage .signUpField input::placeholder {
      color: black;
      font-family: "Lato-Regular"; }
    .loginPage .signUpField .loginTwo {
      margin: 50px auto 0 auto;
      font-family: "Caveat-Regular";
      width: 210px;
      font-size: 25px;
      background-color: #FFD972;
      text-align: center;
      height: 52px;
      line-height: 52px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 26px;
      border: none; }
    .loginPage .signUpField .loginTwo:hover {
      cursor: pointer; }

@media screen and (max-width: 750px) {
  .loginPage {
    justify-content: center;
    flex-wrap: wrap;
    width: 400px; }
    .loginPage .loginField {
      margin-bottom: 100px; } }

@media screen and (max-width: 450px) {
  .loginPage {
    justify-content: center;
    flex-wrap: wrap;
    width: 230px; }
    .loginPage .loginField {
      margin-bottom: 100px; } }

.foot {
  color: #393939;
  display: flex;
  justify-content: space-between;
  padding: 26px 40px 26px 40px;
  font-size: 16px;
  font-family: "Lato-Italic";
  flex-wrap: wrap; }
  .foot .footNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .foot .footNav a {
      margin-left: 13px;
      margin-right: 13px;
      color: #393939;
      text-decoration: none; }
  .foot .social {
    display: flex;
    justify-content: flex-end;
    color: #393939; }
    .foot .social img:nth-child(2) {
      margin-left: 50px; }

#mobileFooter {
  display: none; }
  #mobileFooter .topFoot {
    display: flex;
    justify-content: space-between;
    font-family: "Lato-Italic"; }
    #mobileFooter .topFoot .social {
      display: flex;
      justify-content: flex-end;
      color: #393939; }
      #mobileFooter .topFoot .social img:nth-child(2) {
        margin-left: 15px; }
  #mobileFooter .footnav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #mobileFooter .footnav a {
      margin-left: 5px;
      margin-right: 5px;
      color: #393939;
      text-decoration: none; }

@media screen and (max-width: 1025px) {
  .foot {
    font-size: 12px; }
    .foot .footNav a {
      margin-left: 5px;
      margin-right: 5px; }
    .foot .social img:nth-child(2) {
      margin-left: 25px; } }

@media screen and (max-width: 760px) {
  #footer {
    display: none; }
  #mobileFooter {
    display: block; } }

.foot {
  color: #393939;
  display: flex;
  justify-content: space-between;
  padding: 26px 40px 26px 40px;
  font-size: 16px;
  font-family: "Lato-Italic";
  flex-wrap: wrap; }
  .foot .footNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .foot .footNav a {
      margin-left: 13px;
      margin-right: 13px;
      color: #393939;
      text-decoration: none; }
  .foot .social {
    display: flex;
    justify-content: flex-end;
    color: #393939; }
    .foot .social img:nth-child(2) {
      margin-left: 50px; }

#mobileFooter {
  display: none; }
  #mobileFooter .topFoot {
    display: flex;
    justify-content: space-between;
    font-family: "Lato-Italic"; }
    #mobileFooter .topFoot .social {
      display: flex;
      justify-content: flex-end;
      color: #393939; }
      #mobileFooter .topFoot .social img:nth-child(2) {
        margin-left: 15px; }
  #mobileFooter .footnav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #mobileFooter .footnav a {
      margin-left: 5px;
      margin-right: 5px;
      color: #393939;
      text-decoration: none; }

@media screen and (max-width: 1025px) {
  .foot {
    font-size: 12px; }
    .foot .footNav a {
      margin-left: 5px;
      margin-right: 5px; }
    .foot .social img:nth-child(2) {
      margin-left: 25px; } }

@media screen and (max-width: 760px) {
  #footer {
    display: none; }
  #mobileFooter {
    display: block; } }
