.home{
    min-height: 500px;
    width: 100%;
    max-width: 900px;
    margin: 50px auto 20px auto;
    .headHome{
        text-align: center;
        color: #444345;
    }
    .chooseRight{
        width: 100%;
        max-width: 900px;
        display: flex;
        justify-content: space-around;
        min-height: 30px;
        .card{
            color: #126bc5;
            padding: 30px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: .8s;
            h3{
                padding-bottom: 0px;
            }
        }
        .card:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    .offers{
        width: 100%;
        max-width: 900px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        &__card{
            width: 275px;
            height: 235px;
            border: 1px solid #9c9c9c;
            position: relative;
            hr{
                width: 90%;
                margin: auto;
            }
            .headLine{
                margin-top: 30px;
                text-align: center;
                color: #126bc5;
            }
            .information{
                width: 87%;
                margin: auto;
                h3{
                    color: #444345;
                    font-size: 16px;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 15px;
                }
            }
            .button{
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 20px;
                button{
                    width: 80%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: center;
                    background-color:#126bc5 ;
                    border-radius: 5px;
                    border: none;
                    color: white;
                }
                button:hover{
                    cursor: pointer;
                }
            }
        }
        &__card:hover{
            cursor: pointer;
        }
    }
    .homehr{
        color: #444345;
        background-color: #444345;
    }
    .promotionalCards{
        margin: auto;
        width: 95%;
        display: flex;
        justify-content: space-between;
        .cards{
            padding: 30px;
        }
        .referalPromotion{
            width: 70%;
            color: #444345;
            h3{
                margin-top: 30px;
                font-size: 35px;
                margin-bottom: 10px;
            }
            p{
                font-size: 17px;
                margin-bottom: 10px;
            }
            button{
                border: none;
                border-radius: 5px;
                font-size: 20px;
                padding: 10px;
                width: 40%;
                background-color: #398100;
                color: white;
            }
        }
    }
}