nav{
    font-family: "Caveat-Regular";
    height: 130px;
    padding: 38px 50px 38px 50px;
    display: flex;
    justify-content: space-between;
    .menu{
        width: 60%;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        a{
            margin-left: 40px;
            font-size: 25px;
            color: #000000;
            text-decoration: none;
            height: 37px;
        }
        .selected{
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 3px solid;
        }
        .login{
            width: 158px;
            background-color: #FFD972;
            text-align: center;
            height: 52px;
            line-height: 52px;
            border-radius: 26px;
        }
    }
}