* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  position: relative;
  height: 100vh;
}

/* adds space for the footer so that it always sits at the bottom of the page no matter what missing space their is*/
.container {
  padding-bottom: 75px;
}

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 14px;
}

nav {
  min-height: 50px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* css that sets my footer giving it a height and colors and what not*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #EEE;
}