* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  position: relative;
  height: 100vh;
}

/* adds space for the footer so that it always sits at the bottom of the page no matter what missing space their is*/
.container {
  padding-bottom: 325px;
}

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 14px;
}

.nav {
  min-height: 80px;
  background-color: #000;
  width: 100%;
}
.nav__holder {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__holder__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.nav__holder__links a {
  color: white;
  font-size: 20px;
  padding-left: 20px;
  text-decoration: none;
  letter-spacing: 5px;
}

/* css that sets my footer giving it a height and colors and what not*/
.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  clear: both;
  min-height: 315px;
  width: 100%;
  background-color: #EEE;
  border-top: 2px solid #8c8c8c;
}
.footer__holder {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__holder__icon {
  margin-top: 15px;
  width: 25%;
}
.footer__holder__menus {
  width: 70%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__holder__menus .cont h5 {
  font-size: 15px;
  font-style: bold;
  margin-bottom: 20px;
  line-height: 35px;
  text-decoration: underline;
}
.footer__holder__menus .cont ul li {
  list-style: none;
  line-height: 30px;
  font-size: 15px;
}
.footer__holder__menus .cont ul li:hover {
  cursor: pointer;
}
.footer__under {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__under__tos {
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 30px;
}
.footer__under__copyright {
  width: 70%;
  text-align: right;
  font-size: 15px;
  line-height: 30px;
}