#app{
    width: 1500px;
    padding: 10px;
    z-index: 4;
    margin: auto;
    .home{
        min-height: 300px;
        width: 100%;
        margin: auto;
        display: block;
        .amazonItems{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .card{
                width: 23.5%;
                min-height: 200px;
                background-color: rgb(255, 255, 255);
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                h3{
                    padding-top: 10px;
                }
                p{
                    padding-top: 25px;
                    color: #348e9e;
                }
                p:hover{
                    cursor: pointer;
                }

            }
        }
    }
    .service{
        min-height: 300px;
        width: 100%;
        margin: auto;
        display: block;
    }
}  
.modal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-click{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    animation: fadeIn .8s;
}
.log{
    width: 650px;
    height: 400px;
}
.sig{
    width: 650px;
    height:650px;
}
.callout{
    position: relative;
    z-index: 10;
    background-color: #eaeded;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    img{
        width: 40%;
        margin-bottom: 10px;
        
    }
    .textLabel{
        width: 80%;
        margin: 0 auto 15px auto;
    }
    .textField{
        width: 80%;
        margin: 0 auto 15px auto;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px #444345 solid;
        border-radius: 5px;
    }
    .styling{
        margin-top: 10px;
        padding: 10px 30px 10px 30px;
        color: white;
        background-color: #febd69;
        border: none;
        border-radius: 5px;
        transition: background-color .8s;
    }
    .styling:hover{
        cursor: pointer;
        background-color: #fecf4d;
    }
    // animation: scaleIn 1.5s;
}
// @keyframes scaleIn{
//     0% {transform: scale(0);}
//     100% {transform: scale(1);}
// }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}