.holder2{
    .spacing{
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin: auto;
    }
    .columns{
        margin-bottom: 75px;
        padding-top: 40px;
        color: white;
        h3{
            margin-bottom: 10px;
            text-align: left;
        }
        ul{
            li{
                list-style: none;
                line-height: 25px;
                font-size: 15px;
                text-align: left;
                font-weight: lighter;
            }
            li:hover{
                cursor: pointer;
            }
        }
    }
    z-index: 1;
    background-color: #232f3e;
    .holder3{
        .footerMiniNav{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 1000px;
            margin: auto;
            padding-top: 30px;
            .card{
                width: 100px;
                margin-right: 20px;
                margin-left: 20px;
                margin-bottom: 30px;
                height: 50px;
                text-align: left;
                h3{
                    color: #DDD;
                    margin-bottom: 0px;
                    font-size: 11px;
                }
                .text{
                    font-size: 11px;
                    color: #767676;
                }
                h3:hover{
                    cursor: pointer;
                }
                .text:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        .extraInfo{
            display: flex;
            width: 1000px;
            margin: auto;
            justify-content: center;
            a{
                text-decoration: none;
                color: #DDD;
                padding-left: 10px;
                padding-right: 10px;
                margin-top: 25px;
                font-size: 13px;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        z-index: 2;
        background-color: #131a22;
    }
}