* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 body {
  -ms-overflow-style: none;
  scrollbar-width: none; 
  overflow-y: scroll; 
 height: 100%;
 background-color: #eaeded;
}
body::-webkit-scrollbar {
  display: none;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 775px;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #131a22;
    height:775px;            /* Footer height */
    z-index: 0;
    text-align: center;
    .back2Top{
      background-color: #37475a;
      height: 50px;
      line-height: 50px;
      transition: all .8s;
    }
    p{
      color: white;
      font-size: 20px;
    }
    .back2Top:hover{
      background-color:  #44576f;
      cursor: pointer;
    }
  }