@font-face {
  font-family: MarkOT-Medium;
  src: url(../css/fonts/MarkOT-Medium.ttf); }

* {
  font-family: "MarkOT-Medium";
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.grayOverlay {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100% - 164px);
  top: 164px;
  z-index: 5;
  background-color: rgba(153, 153, 153, 0.5); }

body::-webkit-scrollbar {
  display: none; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

#page-container {
  position: relative;
  min-height: 100vh; }

#content-wrap {
  padding-bottom: 515px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 515px; }

#app {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  min-height: 320px; }

.mobileCoffeMenu {
  border-top: 1px solid #899099;
  display: none;
  position: absolute;
  top: 90px;
  width: 100%;
  height: calc(100% - 90px);
  background-color: #fff;
  z-index: 10; }
  .mobileCoffeMenu .underHov:hover {
    text-decoration: underline; }
  .mobileCoffeMenu .welcomeNav {
    padding: 20px;
    background-color: #f5f5f5; }
    .mobileCoffeMenu .welcomeNav h1 {
      font-size: 25px;
      font-weight: lighter;
      margin-bottom: 10px; }
    .mobileCoffeMenu .welcomeNav__LoginCreate {
      display: flex;
      justify-content: space-between; }
      .mobileCoffeMenu .welcomeNav__LoginCreate .accountStuff {
        display: flex; }
        .mobileCoffeMenu .welcomeNav__LoginCreate .accountStuff a {
          font-size: 13px;
          margin-bottom: 5px;
          text-decoration: underline; }
      .mobileCoffeMenu .welcomeNav__LoginCreate p {
        font-size: 13px;
        margin-bottom: 5px; }
  .mobileCoffeMenu .navigationOptions {
    display: flex;
    flex-direction: column; }
    .mobileCoffeMenu .navigationOptions__extra {
      display: flex;
      justify-content: space-between; }
    .mobileCoffeMenu .navigationOptions a {
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      color: #333333;
      border-bottom: 1px solid #333333; }
  .mobileCoffeMenu .DnC {
    border-bottom: 1px solid #333333;
    padding: 25px 20px 20px 20px;
    display: flex;
    flex-direction: column; }
    .mobileCoffeMenu .DnC a {
      text-decoration: none; }
    .mobileCoffeMenu .DnC__color {
      color: #C8102E; }
    .mobileCoffeMenu .DnC__cuzt {
      color: #333333; }
  .mobileCoffeMenu .QRS {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 20px 20px; }
    .mobileCoffeMenu .QRS a {
      text-decoration: none;
      color: #333333;
      margin-bottom: 15px; }

@media screen and (max-width: 1468px) {
  .grayOverlay {
    top: 178px; } }

@media screen and (max-width: 1300px) {
  .grayOverlay {
    top: 161px; } }

@media screen and (max-width: 1195px) {
  .grayOverlay {
    top: 177px; } }

.homePage {
  width: 100%; }
  .homePage__banner {
    width: 100%;
    height: 225px;
    background-image: url("../images/CLP-Banner-CoffeeMakers-Holiday.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; }
    .homePage__banner h5 {
      margin-bottom: 5px;
      letter-spacing: 2px; }
    .homePage__banner h1 {
      font-size: 60px;
      font-weight: lighter;
      letter-spacing: 3px;
      margin-bottom: 0px; }
  .homePage__filterBanner {
    padding: 20px 10px 0px 10px;
    display: flex;
    justify-content: space-between; }
    .homePage__filterBanner__left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap; }
      .homePage__filterBanner__left p {
        padding: 15px;
        color: #b3b3b3;
        margin-bottom: 10px;
        border: 3px solid  #999999;
        margin-right: 15px;
        border-radius: 3px;
        letter-spacing: 1px;
        font-size: 13px;
        display: flex;
        align-items: center; }
        .homePage__filterBanner__left p img {
          width: 20px;
          margin-left: 10px; }
        .homePage__filterBanner__left p .blackDownArrow {
          display: none;
          transform: rotate(180deg); }
      .homePage__filterBanner__left p:hover {
        cursor: pointer;
        border: 3px solid #1a1a1a; }
      .homePage__filterBanner__left p:hover .blackDownArrow {
        display: block; }
      .homePage__filterBanner__left p:hover .greyDownArrow {
        display: none; }
      .homePage__filterBanner__left .sortnfilt {
        display: none; }
    .homePage__filterBanner__right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px; }
      .homePage__filterBanner__right .arrowFilter {
        display: flex;
        flex-direction: column; }
        .homePage__filterBanner__right .arrowFilter .sortLetters {
          color: #b3b3b3;
          font-size: 13px; }
        .homePage__filterBanner__right .arrowFilter p {
          margin-bottom: 0px; }
      .homePage__filterBanner__right .arrow img {
        width: 25px;
        margin-left: 10px; }
      .homePage__filterBanner__right .arrow .blackDownArrow {
        margin-top: 12px;
        display: block; }
    .homePage__filterBanner__right:hover {
      cursor: pointer; }
    .homePage__filterBanner__right:hover .blackDownArrow {
      transform: rotate(180deg); }
  .homePage__List {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 5px 30px 5px; }
    .homePage__List__coffeeHolder {
      padding: 10px;
      width: 23.5%;
      min-width: 300px;
      color: #333333;
      margin-bottom: 25px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
      .homePage__List__coffeeHolder__Coffee {
        height: 540px;
        position: relative; }
        .homePage__List__coffeeHolder__Coffee .cofImg {
          width: 100%;
          max-width: 260px;
          display: block;
          margin: 0px auto 30px auto; }
        .homePage__List__coffeeHolder__Coffee__colors {
          display: flex; }
          .homePage__List__coffeeHolder__Coffee__colors div {
            width: 25px;
            height: 25px;
            margin-left: 0px;
            margin-right: 5px;
            margin-bottom: 15px;
            border-radius: 25px; }
        .homePage__List__coffeeHolder__Coffee .banner {
          position: relative;
          border-radius: 5px;
          color: white;
          font-size: 12px;
          padding: 5px 0px 5px 8px;
          display: flex;
          margin-bottom: 10px;
          align-items: center; }
        .homePage__List__coffeeHolder__Coffee__information h1 {
          font-size: 15px;
          font-weight: lighter; }
        .homePage__List__coffeeHolder__Coffee__information p {
          font-size: 23px;
          font-weight: lighter;
          position: relative;
          padding-left: 12px;
          color: #333333; }
          .homePage__List__coffeeHolder__Coffee__information p span {
            position: absolute;
            font-size: 18px;
            left: 0; }
        .homePage__List__coffeeHolder__Coffee__information__reviews {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 15px; }
          .homePage__List__coffeeHolder__Coffee__information__reviews span {
            font-size: 15px; }
          .homePage__List__coffeeHolder__Coffee__information__reviews .checked {
            color: #ffc10a; }
          .homePage__List__coffeeHolder__Coffee__information__reviews .endstar {
            margin-right: 6px; }
          .homePage__List__coffeeHolder__Coffee__information__reviews p {
            margin-bottom: 0px;
            font-size: 15px;
            padding-left: 0px;
            margin-right: 5px;
            color: #333333; }
        .homePage__List__coffeeHolder__Coffee__information__shipping {
          display: flex;
          align-items: center;
          margin-bottom: 15px; }
          .homePage__List__coffeeHolder__Coffee__information__shipping img {
            width: 33px;
            margin-bottom: 0px; }
          .homePage__List__coffeeHolder__Coffee__information__shipping p {
            margin-bottom: 0px;
            margin-left: 5px;
            padding-left: 0px;
            font-size: 15px; }
        .homePage__List__coffeeHolder__Coffee__information__compare {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 0; }
          .homePage__List__coffeeHolder__Coffee__information__compare input {
            height: 20px;
            width: 20px;
            border: 2px solid #d2d2d2; }
          .homePage__List__coffeeHolder__Coffee__information__compare label {
            margin-left: 10px;
            font-size: 13px; }
      .homePage__List__coffeeHolder__Coffee {
        cursor: pointer; }
      .homePage__List__coffeeHolder .buyNow {
        margin-top: 15px;
        border: 3px solid #f1be48;
        border-radius: 2px;
        width: 100%;
        font-size: 15px;
        padding: 10px;
        background-color: #fff;
        transition: all .8s; }
      .homePage__List__coffeeHolder .buyNow:hover {
        background-color: #f1be48;
        cursor: pointer; }

@media screen and (max-width: 1235px) {
  .homePage__List__coffeeHolder {
    width: 32%; } }

@media screen and (max-width: 990px) {
  .homePage__filterBanner__left .filtOption {
    display: none; }
  .homePage__filterBanner__left .sortnfilt {
    display: block; }
  .homePage__filterBanner__right {
    display: none; } }

@media screen and (max-width: 990px) {
  .homePage__banner h5 {
    font-size: 15px;
    margin-bottom: 10px; }
  .homePage__banner h1 {
    font-size: 30px; } }

@media screen and (max-width: 935px) {
  .homePage__List__coffeeHolder {
    width: 49%;
    min-width: 150px; } }

.cartPage {
  margin-top: 20px;
  min-height: 500px; }
  .cartPage .emptyitems {
    text-align: center; }
  .cartPage .emptyText {
    text-align: center;
    font-size: 50px;
    font-weight: lighter; }
  .cartPage .freeship {
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center; }
    .cartPage .freeship i {
      font-size: 20px;
      color: #498428;
      margin-right: 10px; }
  .cartPage .ShoppingCart {
    width: 100%;
    min-height: 250px;
    margin-top: 30px;
    padding: 0px 15px 25px 15px;
    display: flex;
    justify-content: space-around; }
    .cartPage .ShoppingCart .sCLeft {
      width: 73%;
      min-height: 200px; }
      .cartPage .ShoppingCart .sCLeft .purchases {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0px 20px;
        background-color: #e7e4df;
        border-radius: 15px;
        margin-bottom: 25px; }
        .cartPage .ShoppingCart .sCLeft .purchases h1 {
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 5px; }
        .cartPage .ShoppingCart .sCLeft .purchases p {
          font-size: 12px;
          font-style: italic; }
        .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed {
          width: 100%;
          min-height: 175px;
          background-color: #fff;
          margin: auto;
          margin-bottom: 20px;
          position: relative;
          display: flex;
          justify-content: space-between; }
          .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__left {
            width: 50%;
            display: flex; }
            .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__left__image {
              width: 35%;
              display: flex;
              justify-content: center;
              align-items: center; }
              .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__left__image img {
                width: 95%; }
            .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__left__title {
              width: 65%;
              display: flex;
              justify-content: center;
              flex-direction: column; }
              .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__left__title h1 {
                width: 90%; }
          .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__right {
            width: 50%;
            display: flex; }
            .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__right__cost {
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center; }
              .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__right__cost p {
                margin-bottom: 0px; }
              .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__right__cost select {
                margin-left: 20px;
                padding: 10px;
                border: 3px solid #f1be48; }
            .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__right__later {
              width: 50%;
              display: flex;
              justify-content: end;
              align-items: center;
              margin-right: 40px; }
          .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__close {
            position: absolute;
            top: 20px;
            right: 0;
            display: flex;
            align-items: center;
            margin-right: 40px;
            color: #68676b; }
            .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__close p {
              margin-bottom: 0px;
              margin-right: 15px;
              text-decoration: underline; }
            .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__close p:hover {
              cursor: pointer; }
            .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed__close i:hover {
              cursor: pointer; }
        .cartPage .ShoppingCart .sCLeft .purchases .coffeeListed:last-child {
          border-radius: 0px 0px 20px 20px; }
      .cartPage .ShoppingCart .sCLeft .discount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
        .cartPage .ShoppingCart .sCLeft .discount h3 {
          margin-bottom: 0px;
          font-weight: lighter; }
        .cartPage .ShoppingCart .sCLeft .discount .couponCode {
          display: flex;
          justify-content: center;
          align-items: center; }
          .cartPage .ShoppingCart .sCLeft .discount .couponCode input {
            width: 200px;
            padding: 8px;
            border: 3px solid #dfdfdf;
            border-right: none; }
          .cartPage .ShoppingCart .sCLeft .discount .couponCode button {
            padding: 8px;
            background-color: #fff;
            border: 3px solid #f1be48;
            width: 80px; }
          .cartPage .ShoppingCart .sCLeft .discount .couponCode button:hover {
            cursor: pointer;
            border: 3px solid black; }
    .cartPage .ShoppingCart .sCRight {
      width: 24%;
      min-height: 300px;
      font-weight: lighter; }
      .cartPage .ShoppingCart .sCRight .showTotal {
        min-height: 300px;
        border-radius: 15px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
        .cartPage .ShoppingCart .sCRight .showTotal h1 {
          padding-top: 25px;
          margin: 0px 25px 20px 25px;
          font-size: 18px;
          font-weight: lighter; }
        .cartPage .ShoppingCart .sCRight .showTotal .subtotal {
          display: flex;
          justify-content: space-between;
          margin: 0px 25px 0px 25px; }
          .cartPage .ShoppingCart .sCRight .showTotal .subtotal p {
            margin-bottom: 10px; }
        .cartPage .ShoppingCart .sCRight .showTotal .firsthr {
          margin: 0px 25px 20px 25px;
          border-style: dashed;
          border-width: 1px; }
        .cartPage .ShoppingCart .sCRight .showTotal .savingDiscounts {
          display: flex;
          justify-content: space-between;
          margin: 0px 25px 0px 25px; }
          .cartPage .ShoppingCart .sCRight .showTotal .savingDiscounts .subCost {
            color: #dd168c; }
          .cartPage .ShoppingCart .sCRight .showTotal .savingDiscounts p {
            margin-bottom: 0px; }
        .cartPage .ShoppingCart .sCRight .showTotal .addCoup {
          margin: 0px 25px 0px 25px;
          color: #33cfff; }
        .cartPage .ShoppingCart .sCRight .showTotal .shippingTotal {
          display: flex;
          justify-content: space-between;
          margin: 0px 25px 0px 25px; }
          .cartPage .ShoppingCart .sCRight .showTotal .shippingTotal .shippingFree {
            color: #498428; }
        .cartPage .ShoppingCart .sCRight .showTotal .orderTotal {
          display: flex;
          justify-content: space-between;
          padding: 8px 8px 8px 25px;
          margin-right: 25px;
          background-color: #e7e4df;
          border-radius: 0px 25px 25px 0px;
          margin-bottom: 8px; }
          .cartPage .ShoppingCart .sCRight .showTotal .orderTotal p {
            margin-bottom: 0px; }
            .cartPage .ShoppingCart .sCRight .showTotal .orderTotal p i {
              margin-left: 5px; }
        .cartPage .ShoppingCart .sCRight .showTotal .secondhr {
          margin: 0px 25px 20px 25px;
          border-style: dashed;
          border-width: 1px; }
        .cartPage .ShoppingCart .sCRight .showTotal .buttonsCheckout {
          display: flex;
          flex-direction: column;
          margin: 0px 25px 0px 25px;
          padding-bottom: 25px; }
          .cartPage .ShoppingCart .sCRight .showTotal .buttonsCheckout button:hover {
            cursor: pointer; }
          .cartPage .ShoppingCart .sCRight .showTotal .buttonsCheckout .secureCheckout {
            padding: 10px;
            border: none;
            background-color: #f1be48;
            font-size: 15px;
            margin-bottom: 15px; }
          .cartPage .ShoppingCart .sCRight .showTotal .buttonsCheckout .Paypal {
            border: none;
            padding: 12px;
            background-color: #ebebeb;
            font-size: 12px; }
            .cartPage .ShoppingCart .sCRight .showTotal .buttonsCheckout .Paypal i {
              margin-left: 10px;
              color: #0099ff; }

@media screen and (max-width: 1200px) {
  .cartPage .ShoppingCart {
    flex-direction: column; }
    .cartPage .ShoppingCart .sCLeft {
      width: 100%; }
      .cartPage .ShoppingCart .sCLeft .discount .couponCode input {
        width: 100px; }
      .cartPage .ShoppingCart .sCLeft .discount .couponCode button {
        width: 40px; }
    .cartPage .ShoppingCart .sCRight {
      margin-top: 20px;
      width: 100%; } }

@media screen and (max-width: 300px) {
  .cartPage .ShoppingCart .sCLeft .discount .couponCode input {
    width: 100px; }
  .cartPage .ShoppingCart .sCLeft .discount .couponCode button {
    width: 40px; } }

nav {
  padding: 35px 45px 10px 45px;
  display: flex;
  flex-direction: column;
  position: relative; }
  nav .topNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    nav .topNav__image {
      display: flex;
      align-items: center; }
      nav .topNav__image a {
        width: 180px;
        margin-left: 15px; }
        nav .topNav__image a img {
          width: 100%; }
    nav .topNav__menuBurger {
      display: none; }
      nav .topNav__menuBurger .closeMenu {
        display: none; }
      nav .topNav__menuBurger i {
        width: 50px;
        height: 50px; }
    nav .topNav__searchBar {
      padding: 4px 19px 4px 19px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      border: 1px solid #dfdfdf;
      background-color: #f3f3f3;
      width: 100%;
      max-width: 650px; }
      nav .topNav__searchBar img {
        height: 100%; }
      nav .topNav__searchBar img:hover {
        cursor: pointer; }
      nav .topNav__searchBar input {
        margin-left: 25px;
        border: none;
        background-color: #f3f3f3;
        font-size: 15px;
        width: 90%; }
      nav .topNav__searchBar ::placeholder {
        color: #212529; }
    nav .topNav__extraRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 15px; }
      nav .topNav__extraRight button {
        background-color: #fff;
        border: none;
        text-align: center;
        margin-right: 30px;
        font-size: 13px;
        letter-spacing: 2px; }
      nav .topNav__extraRight button {
        cursor: pointer; }
      nav .topNav__extraRight__profile {
        width: 50px;
        height: 50px;
        margin-right: 25px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .8s; }
        nav .topNav__extraRight__profile img {
          width: 70%;
          height: 70%; }
      nav .topNav__extraRight__profile:hover {
        background-color: #e6e6e6;
        cursor: pointer; }
      nav .topNav__extraRight__signout {
        display: none;
        width: 50px;
        height: 50px;
        margin-right: 25px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        transition: all .8s; }
        nav .topNav__extraRight__signout img {
          width: 70%;
          height: 70%; }
      nav .topNav__extraRight__signout:hover {
        background-color: #e6e6e6;
        cursor: pointer; }
      nav .topNav__extraRight__cart {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .8s;
        position: relative; }
        nav .topNav__extraRight__cart a {
          width: 70%;
          height: 70%; }
          nav .topNav__extraRight__cart a img {
            width: 100%;
            height: 100%; }
        nav .topNav__extraRight__cart__count {
          width: 25px;
          height: 25px;
          border-radius: 25px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: #212529;
          top: 0;
          right: 0; }
      nav .topNav__extraRight__cart:hover {
        background-color: #e6e6e6;
        cursor: pointer; }
  nav .bottomNav {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row; }
    nav .bottomNav .mobileSearch {
      display: none; }
    nav .bottomNav .mobileDeals {
      display: none; }
    nav .bottomNav a {
      padding: 15px 20px 15px 20px;
      text-decoration: none;
      font-size: 13px;
      border-radius: 5px;
      transition: all .8s;
      letter-spacing: 3px;
      text-align: center; }
    nav .bottomNav a:hover {
      background-color: #e6e6e6; }
    nav .bottomNav__other {
      color: #333333; }
    nav .bottomNav__deals {
      color: #C8102E; }
      nav .bottomNav__deals span {
        margin-right: 15px; }
        nav .bottomNav__deals span img {
          width: 12px; }
  nav .login {
    display: none;
    background-color: #fff;
    top: 100px;
    right: 140px;
    position: absolute;
    width: 350px;
    min-height: 200px;
    z-index: 10;
    border-radius: 5px;
    color: #333333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
    nav .login .closeButton {
      display: flex;
      justify-content: flex-start;
      font-size: 20px;
      margin: 25px 25px 10px 25px; }
      nav .login .closeButton p {
        margin-left: 10px; }
    nav .login .closeButton:hover {
      cursor: pointer; }
    nav .login .loginSignup {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 25px 0px 25px; }
      nav .login .loginSignup button {
        width: 50%;
        padding: 10px;
        background-color: #ffffff;
        font-weight: lighter;
        border: none;
        font-size: 16px; }
      nav .login .loginSignup button:hover {
        cursor: pointer; }
      nav .login .loginSignup .selected {
        background-color: #ece9e4;
        font-weight: bold; }
    nav .login .inputFieldsLogin {
      margin: 15px 25px 15px 25px; }
      nav .login .inputFieldsLogin .inputs .loginInputs {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px; }
      nav .login .inputFieldsLogin .inputs .loginInputs:hover {
        cursor: pointer; }
      nav .login .inputFieldsLogin .inputs .keepSignedIn {
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        nav .login .inputFieldsLogin .inputs .keepSignedIn input {
          width: 20px;
          height: 20px; }
        nav .login .inputFieldsLogin .inputs .keepSignedIn input:hover {
          cursor: pointer; }
        nav .login .inputFieldsLogin .inputs .keepSignedIn label {
          margin-left: 10px; }
      nav .login .inputFieldsLogin .SignInButton {
        width: 100%;
        background-color: #3b2b2f;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 25px;
        letter-spacing: 1px;
        margin-bottom: 15px; }
      nav .login .inputFieldsLogin .SignInButton:hover {
        cursor: pointer; }
      nav .login .inputFieldsLogin p {
        text-align: center;
        text-decoration: underline;
        color: #0f7db5; }
      nav .login .inputFieldsLogin p:hover {
        cursor: pointer; }
    nav .login .inputFieldsSign {
      margin: 15px 25px 15px 25px; }
      nav .login .inputFieldsSign .inputs .SignupInputs {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px; }
      nav .login .inputFieldsSign .inputs .SignupInputs:hover {
        cursor: pointer; }
      nav .login .inputFieldsSign .inputs .specialOffers {
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        nav .login .inputFieldsSign .inputs .specialOffers input {
          width: 20px;
          height: 20px; }
        nav .login .inputFieldsSign .inputs .specialOffers input:hover {
          cursor: pointer; }
        nav .login .inputFieldsSign .inputs .specialOffers label {
          margin-left: 10px; }
      nav .login .inputFieldsSign .inputs .keepSignedIn {
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        nav .login .inputFieldsSign .inputs .keepSignedIn input {
          width: 20px;
          height: 20px; }
        nav .login .inputFieldsSign .inputs .keepSignedIn input:hover {
          cursor: pointer; }
        nav .login .inputFieldsSign .inputs .keepSignedIn label {
          margin-left: 10px; }
      nav .login .inputFieldsSign .SignUpButton {
        width: 100%;
        background-color: #3b2b2f;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 25px;
        letter-spacing: 1px;
        margin-bottom: 15px; }
      nav .login .inputFieldsSign .SignUpButton:hover {
        cursor: pointer; }
      nav .login .inputFieldsSign p {
        font-size: 12px;
        text-align: center; }
        nav .login .inputFieldsSign p span {
          font-weight: bold;
          text-decoration: underline;
          color: #3b2b2f; }
      nav .login .inputFieldsSign p:hover {
        cursor: pointer; }
    nav .login .whyBoxL {
      display: block; }
    nav .login .whyBoxS {
      display: none; }
    nav .login .wB {
      padding: 25px 30px 25px 30px;
      background-color: #f3f3f3; }
      nav .login .wB h1 {
        font-size: 18px;
        margin-bottom: 10px; }
      nav .login .wB p {
        font-size: 14px;
        margin-bottom: 8px; }
      nav .login .wB ul li {
        font-size: 14px;
        margin-left: 15px; }
    nav .login .inputFieldsSign {
      display: none; }
    nav .login .endButtons {
      margin: 15px 25px 25px 25px;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      nav .login .endButtons button {
        background-color: white;
        width: 100%;
        font-size: 15px;
        padding: 10px;
        border-radius: 25px;
        border: none;
        border: 1px solid #dfdfdf; }
      nav .login .endButtons button:hover {
        background-color: #f2f2f2;
        cursor: pointer; }
      nav .login .endButtons .firstBtn {
        margin-bottom: 10px; }

@media screen and (max-width: 1400px) {
  nav .topNav__searchBar {
    max-width: 500px; }
  nav .topNav__extraRight button {
    font-size: 11px; } }

@media screen and (max-width: 1300px) {
  nav .topNav__searchBar {
    max-width: 300px; }
  nav .bottomNav .remove {
    display: none; } }

@media screen and (max-width: 990px) {
  nav {
    padding: 35px 3px 0px 3px; }
    nav .topNav__image a {
      width: 120px;
      margin-left: 0; }
    nav .topNav__menuBurger {
      display: block;
      width: 40px;
      height: 40px;
      margin-left: 15px; }
      nav .topNav__menuBurger img {
        width: 80%;
        height: 80%; }
    nav .topNav__menuBurger {
      cursor: pointer; }
    nav .topNav__searchBar {
      display: none; }
    nav .topNav__extraRight {
      margin-right: 15px; }
      nav .topNav__extraRight button {
        display: none; }
      nav .topNav__extraRight__profile {
        width: 40px;
        height: 40px; }
      nav .topNav__extraRight__signout {
        width: 40px;
        height: 40px; }
      nav .topNav__extraRight__cart {
        width: 40px;
        height: 40px; }
        nav .topNav__extraRight__cart__count {
          width: 15px;
          height: 15px; }
    nav .bottomNav {
      justify-content: center;
      flex-direction: column; }
      nav .bottomNav a {
        display: none; }
      nav .bottomNav .mobileSearch {
        display: block;
        width: 100%;
        padding: 2px; }
        nav .bottomNav .mobileSearch input {
          padding: 10px;
          border: 1px solid #dfdfdf;
          background-color: #f3f3f3;
          width: 100%; }
      nav .bottomNav .mobileDeals {
        width: 100%;
        display: block;
        padding-bottom: 2px; }
        nav .bottomNav .mobileDeals p {
          font-weight: lighter;
          width: 100%;
          margin-bottom: 0px;
          padding: 8px;
          text-align: center;
          background-color: #cdcdcd;
          line-height: 30px;
          font-size: 15px; }
          nav .bottomNav .mobileDeals p span {
            margin-left: 10px;
            font-size: 20px;
            font-weight: bold; }
    nav .login {
      right: 80px; } }

.footer__footerHolder {
  width: 100%;
  max-width: 1280px;
  margin: auto; }
  .footer__footerHolder__banner {
    background-color: #3b2b2f;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    letter-spacing: 2px; }
    .footer__footerHolder__banner__left {
      margin-left: 25px;
      display: flex;
      justify-content: start;
      align-items: center; }
      .footer__footerHolder__banner__left img {
        width: 15px;
        height: 23px; }
      .footer__footerHolder__banner__left span {
        font-size: 30px;
        margin-left: 20px; }
      .footer__footerHolder__banner__left p {
        margin-left: 20px;
        margin-bottom: 0px;
        font-size: 13px; }
    .footer__footerHolder__banner__right {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 275px; }
      .footer__footerHolder__banner__right__follow {
        font-size: 13px;
        margin-bottom: 0px;
        margin-right: 20px; }
      .footer__footerHolder__banner__right img {
        margin-right: 20px;
        width: 20px;
        height: 20px;
        color: white;
        fill: white; }
      .footer__footerHolder__banner__right img:hover {
        cursor: pointer; }
  .footer__footerHolder__mobileBanner {
    display: none; }
  .footer__footerHolder__information {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px; }
    .footer__footerHolder__information .col {
      width: 300px;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 35px; }
    .footer__footerHolder__information__column1 h1 {
      font-size: 20px;
      margin-bottom: 25px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column1 p {
      font-size: 13px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column1 p:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #737373; }
    .footer__footerHolder__information__column1__Bev {
      padding-bottom: 35px; }
    .footer__footerHolder__information__column2 h1 {
      font-size: 20px;
      margin-bottom: 25px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column2 p {
      font-size: 13px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column2 p:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #737373; }
    .footer__footerHolder__information__column3 h1 {
      font-size: 20px;
      margin-bottom: 25px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column3 p {
      font-size: 13px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column3 p:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #737373; }
    .footer__footerHolder__information__mobileHRCol {
      display: none; }
    .footer__footerHolder__information__column4 .countrySelection {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px; }
      .footer__footerHolder__information__column4 .countrySelection img {
        width: 40px;
        height: 40px; }
      .footer__footerHolder__information__column4 .countrySelection select {
        height: 20px;
        width: 150px;
        border: none;
        background-color: #f6f6f6;
        font-size: 12px;
        margin-left: 10px; }
    .footer__footerHolder__information__column4 h1 {
      font-size: 20px;
      margin-bottom: 25px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column4 p {
      font-size: 13px;
      margin-bottom: 25px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column4 .email {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px; }
      .footer__footerHolder__information__column4 .email input {
        width: 184px;
        font-size: 14px;
        padding: 10px;
        border: 1px solid #899099;
        border-radius: 3px 0px 0px 3px;
        border-right: none; }
      .footer__footerHolder__information__column4 .email ::placeholder {
        color: #333333; }
      .footer__footerHolder__information__column4 .email button {
        color: #282828;
        background-color: #fff;
        width: 96px;
        font-size: 14px;
        padding: 10px;
        border: 1px solid #fad345;
        border-radius: 0px 3px 3px 0px;
        transition: all .8s; }
      .footer__footerHolder__information__column4 .email button:hover {
        background-color: #fad345;
        cursor: pointer; }
    .footer__footerHolder__information__column4 hr {
      background-color: #c6c6c6;
      margin-bottom: 5px;
      color: #c6c6c6;
      border: none;
      height: 1px;
      width: 100%; }
  .footer__footerHolder hr {
    background-color: #c6c6c6;
    color: #c6c6c6;
    border: none;
    height: 1px;
    width: 100%; }
  .footer__footerHolder__mobileHR {
    display: none; }
  .footer__footerHolder__copyRightStuff {
    width: 80%;
    margin: 10px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848d9c;
    font-size: 10px;
    letter-spacing: 1px; }
    .footer__footerHolder__copyRightStuff p {
      margin-bottom: 0px; }
    .footer__footerHolder__copyRightStuff p:hover {
      cursor: pointer; }
    .footer__footerHolder__copyRightStuff .TOS {
      margin-left: 20px;
      margin-right: 15px; }
    .footer__footerHolder__copyRightStuff .PP {
      margin-right: 15px; }
    .footer__footerHolder__copyRightStuff span {
      font-size: 15px;
      height: 15px;
      color: black;
      margin-bottom: 16px;
      margin-right: 5px; }

@media screen and (max-width: 990px) {
  .footer__footerHolder__banner__left img {
    width: 12px;
    height: 20px; }
  .footer__footerHolder__banner__left span {
    font-size: 20px; }
  .footer__footerHolder__banner__left p {
    font-size: 10px; }
  .footer__footerHolder__banner__right__follow {
    font-size: 10px; }
  .footer__footerHolder__banner__right img {
    width: 17px;
    height: 17px; }
  .footer__footerHolder__information__column1 h1 {
    font-size: 15px; }
  .footer__footerHolder__information__column1 p {
    font-size: 10px; }
  .footer__footerHolder__information__column2 h1 {
    font-size: 15px; }
  .footer__footerHolder__information__column2 p {
    font-size: 10px; }
  .footer__footerHolder__information__column3 h1 {
    font-size: 15px; }
  .footer__footerHolder__information__column3 p {
    font-size: 10px; }
  .footer__footerHolder__information__column4 .countrySelection img {
    width: 30px;
    height: 30px; }
  .footer__footerHolder__information__column4 .countrySelection select {
    height: 18px;
    width: 140px;
    font-size: 10px;
    margin-left: 8px; }
  .footer__footerHolder__information__column4 h1 {
    font-size: 15px; }
  .footer__footerHolder__information__column4 p {
    font-size: 10px; }
  .footer__footerHolder__information__column4 .email input {
    font-size: 12px; }
  .footer__footerHolder__information__column4 .email button {
    font-size: 12px; } }

@media screen and (max-width: 990px) {
  .footer__footerHolder__banner {
    display: none; }
  .footer__footerHolder__mobileBanner {
    display: block;
    flex-direction: column;
    background-color: #3b2b2f; }
    .footer__footerHolder__mobileBanner__FS {
      color: white;
      padding: 20px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid  #ad7d6d; }
      .footer__footerHolder__mobileBanner__FS p {
        width: 175px;
        margin: auto;
        text-align: center; }
      .footer__footerHolder__mobileBanner__FS img {
        width: 15px;
        height: 25px; }
    .footer__footerHolder__mobileBanner__CS {
      color: white;
      padding: 20px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid  #ad7d6d; }
      .footer__footerHolder__mobileBanner__CS p {
        width: 175px;
        margin: auto;
        text-align: center; }
      .footer__footerHolder__mobileBanner__CS img {
        width: 20px;
        height: 20px; }
    .footer__footerHolder__mobileBanner__Social {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer__footerHolder__mobileBanner__Social img {
        width: 25px;
        height: 25px;
        margin-left: 25px;
        margin-right: 25px; }
  .footer__footerHolder__information {
    justify-content: center;
    flex-direction: column; }
    .footer__footerHolder__information .col {
      width: 100%;
      text-align: center;
      padding-bottom: 10px; }
    .footer__footerHolder__information__column1 h1 {
      font-size: 23px; }
    .footer__footerHolder__information__column1 p {
      font-size: 14px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column1__Bev {
      padding-bottom: 10px; }
    .footer__footerHolder__information__column2 h1 {
      font-size: 23px; }
    .footer__footerHolder__information__column2 p {
      font-size: 14px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__column3 h1 {
      font-size: 23px; }
    .footer__footerHolder__information__column3 p {
      font-size: 14px;
      letter-spacing: 2px; }
    .footer__footerHolder__information__mobileHRCol {
      display: block; }
    .footer__footerHolder__information__column4__Mailing {
      font-size: 20px;
      margin-bottom: 15px;
      letter-spacing: 2px;
      width: 90%;
      margin-left: 5%;
      text-align: left; }
    .footer__footerHolder__information__column4__CountryName {
      width: 90%;
      text-align: center;
      margin-left: 5%;
      margin-top: 5px; }
    .footer__footerHolder__information__column4 .countrySelection {
      width: 90%;
      margin-left: 5%;
      margin-bottom: 10px; }
      .footer__footerHolder__information__column4 .countrySelection img {
        width: 45px;
        height: 45px; }
      .footer__footerHolder__information__column4 .countrySelection select {
        height: 25px;
        width: 165px; }
    .footer__footerHolder__information__column4 p {
      font-size: 12px;
      margin-bottom: 15px;
      letter-spacing: 2px;
      width: 90%;
      margin-left: 5%;
      text-align: left; }
    .footer__footerHolder__information__column4 .email {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 50px; }
      .footer__footerHolder__information__column4 .email input {
        width: 75%;
        margin-left: 5%; }
      .footer__footerHolder__information__column4 .email button {
        width: 15%; }
  .footer__footerHolder__mobileHR {
    display: block; }
  .footer__footerHolder__copyRightStuff {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #848d9c;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 0;
    width: 90%;
    margin-left: 5%; }
    .footer__footerHolder__copyRightStuff p {
      text-align: left;
      width: 100%;
      font-size: 14px;
      margin-left: 0px;
      padding-bottom: 10px; }
    .footer__footerHolder__copyRightStuff span {
      display: none; }
    .footer__footerHolder__copyRightStuff .PP {
      margin-left: 0;
      margin-right: 0; }
    .footer__footerHolder__copyRightStuff .TOS {
      margin-left: 0;
      margin-right: 0; } }

.profilehov:hover .login {
  display: block; }

.profilehov:hover .grayOverlay {
  display: block; }
