.aboveNav{
    width: 950px;
    height: 100px;
    margin:  auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 2;
    
    .head{
        width: 30%;
    }
    &__searchBar{
        form{
            display: flex;
            justify-content: center;
            input{
                width: 250px;
                height: 40px;
                padding: 10px;
                border: none;
                border-radius: 5px 0px 0px 5px;
               
            }
            button{
                border-radius: 0px 5px 5px 0px;
                max-height: 40px;
                padding: 10px;
                border: none;
                background-color: #555;
                color: white;
                
            }
            button:hover{
                cursor: pointer;
            }
        }
    }
    &__cart{
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 15px;
        a{
            text-decoration: none;
        }
        span{
            text-decoration: none;
            padding: 0px 20px 0px 20px;
        }
        img{
            cursor: pointer;
        }
    }
}
nav{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    background-color: #000;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    .nav__holder{
        max-width: 950px;
        display: flex;
        margin:  auto;
        flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .red{
        background-color: #c21e5c;
        transition: 0.8s;
    }
    .red:hover{
        background-color: 

         #e76597
        ;
    }
    .selectedRed{
        background-color: 

         #e76597
        ;
    }
    .blue{
        background-color: #0d47a1;
        transition: 0.8s;
    }
    .blue:hover{
        background-color: #4288f0;
    }
    .selectedBlue{
        background-color: #4288f0;
    }
    .purple{
        background-color: #4a148c;
        transition: 0.8s;
    }
    .purple:hover{
        background-color:  #8436e2;
    }
    .selectedPurple{
        background-color:  #8436e2;
    }
    .pink{
        background-color:   #cc00cc;
        transition: 0.8s;
    }
    .pink:hover{
        background-color: #ff1aff;
    }
    .selectedPink{
        background-color: #ff1aff;
    }
        a{  
            line-height: 40px;
            width: auto;
            text-align: center;
            color: white;
            width: 12.5%;
            text-decoration: none;
        }
    }
}