.content{
    background-color: rgb(255, 255, 255);
        min-height: 500px;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 150px;
        .bible{
            max-width: 950px;
            margin: auto;
            img{
                display: block;
                margin: auto;
            }

        }
        .daily{ 
            height: 45px;
            max-width: 950px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            hr{
                width: 35%;
                height: 3px;
                color: black;
                background-color: black;
                border: none;
            }
            p{
                padding-bottom:0px;
                line-height: 45px;
                text-align: center;
                font-size: 25px;
                color: #cf2013;
            }
        }
        .scripture{
            max-width: 950px;
            margin: auto;
            text-align: center;
            p{
                margin: auto;
                width: 85%;
                font-size: 20px;
            }
        }
}