* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  background-color: #e5e5e5;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 16px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 350px;
  /* Will always be footer height*/
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  /* Will always be footer height */
  background-color: white;
}

.aboveNav {
  width: 950px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  z-index: 2;
}
.aboveNav .head {
  width: 30%;
}
.aboveNav__searchBar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboveNav__searchBar form input {
  width: 250px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.aboveNav__searchBar form button {
  border-radius: 0px 5px 5px 0px;
  max-height: 40px;
  padding: 10px;
  border: none;
  background-color: #555;
  color: white;
}
.aboveNav__searchBar form button:hover {
  cursor: pointer;
}
.aboveNav__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}
.aboveNav__cart a {
  text-decoration: none;
}
.aboveNav__cart span {
  text-decoration: none;
  padding: 0px 20px 0px 20px;
}
.aboveNav__cart img {
  cursor: pointer;
}

nav {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  background-color: #000;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
nav .nav__holder {
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav__holder .red {
  background-color: #c21e5c;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
nav .nav__holder .red:hover {
  background-color: #e76597;
}
nav .nav__holder .selectedRed {
  background-color: #e76597;
}
nav .nav__holder .blue {
  background-color: #0d47a1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
nav .nav__holder .blue:hover {
  background-color: #4288f0;
}
nav .nav__holder .selectedBlue {
  background-color: #4288f0;
}
nav .nav__holder .purple {
  background-color: #4a148c;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
nav .nav__holder .purple:hover {
  background-color: #8436e2;
}
nav .nav__holder .selectedPurple {
  background-color: #8436e2;
}
nav .nav__holder .pink {
  background-color: #cc00cc;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
nav .nav__holder .pink:hover {
  background-color: #ff1aff;
}
nav .nav__holder .selectedPink {
  background-color: #ff1aff;
}
nav .nav__holder a {
  line-height: 40px;
  width: auto;
  text-align: center;
  color: white;
  width: 12.5%;
  text-decoration: none;
}

.content {
  background-color: white;
  min-height: 500px;
  width: 100%;
}
.content .bible {
  max-width: 75%;
  margin: auto;
}
.content .bible img {
  display: block;
  margin: auto;
}
.content .daily {
  height: 45px;
  width: 950px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .daily hr {
  width: 35%;
  height: 3px;
  color: black;
  background-color: black;
  border: none;
}
.content .daily p {
  padding-bottom: 0px;
  line-height: 45px;
  text-align: center;
  font-size: 25px;
  color: #cf2013;
}

.footerNav {
  max-width: 950px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}
.footerNav .stuff {
  margin-bottom: 30px;
}
.footerNav .stuff h5 {
  font-size: 15px;
  font-style: bold;
  color: #464646;
  line-height: 15px;
  text-decoration: underline;
}
.footerNav .stuff ul li {
  list-style: none;
  line-height: 25px;
  font-size: 15px;
}
.footerNav .stuff ul li:hover {
  cursor: pointer;
}

.socials {
  max-width: 950px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials img {
  margin-left: 20px;
  margin-right: 20px;
}
.socials img:hover {
  cursor: pointer;
}